*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  min-height: 100vh; /* Минимальная высота = высота экрана */
  overflow-y: auto; /* Вертикальный скролл только если нужно */
  font-size: 62.5%;
}



h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


:root {
  font-size: 62,5px;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Oswald', sans-serif;
  --pixel-fonts: "Pixelify Sans"
}


.shop__page {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 365px;
  color: #fff;
  font-family: var(--main-font);
  
 
}

.header {
  min-height: 299px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url(../images/Background\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, transparent 60%, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  z-index: -1;
}

.logo__content {
  font-family: var(--main-font);
  font-size: 78px;
  font-weight: 700;
  padding-bottom: 48px;
  padding-top: 33px;
  text-align: center;
  
  /* Градиентный текст */
  background: linear-gradient(90deg, #ff0000, #ff7300, #ff00ff, #00ffff);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 5s infinite linear;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  gap: 57px;
  align-items: center;
  padding-bottom: 40px;
}

.header__menu-item {
  color: #ff8400;
  text-shadow: 3px  3px 0 black;
  text-decoration: none;
  font-size: 32px;
  font-family: var(--pixel-fonts);
  font-weight: 400;
  border: 2px solid transparent;
}

.header__menu-list.active_menu-item .header__menu-item {
  background: rgba(104, 99, 99, 0.4);
  border-radius: 8px;
  padding: 14px 20px;
}

.item__privilege-title {
  color: #ff8400;
  font-size: 1.8rem;
}