*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  min-height: 100vh; /* Минимальная высота = высота экрана */
  overflow-y: auto; /* Вертикальный скролл только если нужно */
  font-size: 62.5%;
}



h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


:root {
  font-size: 62,5px;
  --pixel-fonts: "Pixelify Sans", sans-serif;
  --main-fonts: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: var(--main-fonts);
  background-image: url(../images/15ce674bdfe50ed_big.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}


.page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* ---ШАПКА--- */

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  min-height: 70px;
}


.logo__content {
  font-family: var(--main-font);
  font-size: 5.4rem;
  font-weight: 700;
  z-index: 2;
  background-size: 300% 300%;
}

.logo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__container-link {
  text-decoration: none;
  color: #fff;
  text-align: center;
}


.logo__vontent-black {
  color: #F8A528;
}

.logo__content-subtitle {
  font-size: 2.4rem;
  color: #F8A528;
}

.logo__content-subtitle-orange {
  color: #fff;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 57px;
  z-index: 1;
}

.header__menu-button {
    display: none; /* По умолчанию скрываем кнопку */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    right: 20px;
    z-index: 10;
    padding: 0;
}

/* Полоски внутри кнопки */
.header__menu-button span {
    display: block;
    width: 100%;
    height: 6px;
    background-color: #F8A528;
    border-radius: 5px;
    transition: 0.3s;
}

.header__menu-item {
  color: #F8A528;
  text-decoration: none;
  font-size: 2.4rem;
  font-family: var(--pixel-fonts);
  font-weight: 300;
  border: 2px solid transparent;
}

.header__menu-list.active_menu-item .header__menu-item {
  background: rgba(238, 233, 233, 0.2);
  border-radius: 8px;
  padding: 14px 20px;
  color: #fff;
}

/* --Секция приветственная-- */


.presentation__container {
  display: flex;
  max-width: 1000px;
  height: 550px;
  position: relative;
}

.presentation__container-img {
  width: 100%;
  height: 100%;
  display: block;
}

.presentation__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.presentation__container-text {
  max-width: 800px;
  position: absolute;
  top: 60px;
  left: 20px;
  color: #eeecec;
  font-size: 8.2rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px #F8A528 ; 
  z-index: 1;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

/* -----ФОРМА------ */

.auth__container-form {
  max-width: 300px; /* Не больше 432px */
  height: 550px;
  background-color: rgba(49, 49, 49, 9);
  border-radius: 12px;
  padding: 20px;
}

.welcome__container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
}

.auth__content {
  font-size: 3.2rem;
  padding-bottom: 20px;
  font-family: var(--main-fonts);
  padding-top: 35px;
  z-index: 2;
  text-align: center;
}

.content-title{
  font-size: 18px;
  padding-bottom: 5px;
}

.content-form {
  max-width: 435px;
  min-height: 39px;
  background-color: rgba(40, 40, 40, 0.9);
  color: #fff;
  font-size: 16px;
  padding-left: 20px;
  margin-bottom: 20px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  border: 1px solid #757575;
}

.content-form::placeholder {
  color: #cacaca;
  opacity: 0.6;
}

.auth__container__label {
  display: flex;
  font-size: 1.4rem;
  gap: 8px;
  padding-bottom: 24px;
  padding-left: 10px;
}

.auth__container__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #757575;
  background-color: rgba(40, 40, 40, 0.9);
  inline-size: 19px;
  block-size: 19px;
}

.auth__container__checkbox:checked + .auth__container__pseudo-checkbox::after {
  content: '';
  background-color: #fff;
  min-inline-size: 15px;
  min-block-size: 15px;
}

.auth__container-button {
  width: 300px;
  height: 40px;
  font-family: var(--main-font);
  letter-spacing: 5px;
  align-items: center;
  text-align: center;
  color: #78350F;
  background:#F8A528;
  font-size: 24px;
  font-weight: 800;
  border: none;
  border-radius: 6px;
}

.auth__form-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__register {
  display: block;
  color: #cacaca;
  text-align: center;
  margin: 0 auto;
  padding-top: 21px;
  text-decoration: none;
  font-size: 1.6rem;
}

.social__card {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
}

.social__card-item {
  text-decoration: none;
  color: #fafafa;
}

.social__card__content {
  display: flex;
  gap: 16px;
  padding: 16px 85px 16px 16px;
  max-width: 238px;
  min-height: 32px;
  background-color: rgb(41, 41, 41);
  border-radius: 12px;
}

.social__card-icon {
  width: 40px;
  height: 40px;
}

.social__card-text {
  font-size: 16px;
  font-weight: 200;
}

.social__card-subtext {
  font-size: 14px;
  color: #757575
}


.item__privilege {
  display: flex;
  flex-direction: column;
}

.item__privilege-title {
  font-size: 24px;
}



@media (max-width: 956px) {
  .header__menu-button {
    display: flex;
  
}

.header__menu-list {
    display: none;
}

.header__menu.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Затемнение фона */
    z-index: 9;
    align-items: center;
    justify-content: center;
}

.header__menu.open .header__menu-list {
    display: block;
}

.header__menu.open .header__menu-button {
  position: absolute;
  top: 15px; /* Чтобы кнопка не смещалась вниз */
  right: 70px;
}
}


